<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Library</h1>
            <h3 class="jumbotron-heading">All books</h3>
        </div>
    </section>
    <!--OD TUKA SE PISHUVA------------------------------------------------------------------------------------->
    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${books.size()>0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Book name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Genre</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.label}"></td>
                            <td th:text="${book.authorName}"></td>
                            <td th:text="${book.numberOfPages}"></td>
                            <td class="text-right">
                                <th:block>
                                    <a th:href="@{'/books/{book}' (book=${book.bookDBR})}"
                                       class="btn btn-sm btn-info edit-product"><i class="fa fa-trash">Edit</i></a>
                                </th:block>

                                <form th:action="@{'/shopping-cart/add-product/{id}' (id=${book.bookDBR})}"
                                      th:method="POST"
                                      sec:authorize="isAuthenticated()">
                                    <button type="submit" class="btn btn-sm btn-primary cart-product"><i
                                            class="fa fa-trash">Add
                                        product to cart</i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <!--                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">-->
                    <!--                        <a href="/products/add-form" class="btn btn-block btn-dark add-product-btn">Add new product</a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</th:block>
