<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Library</h1>
            <h3 class="jumbotron-heading">Details author</h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead th:action="@{'authors/{author}' (id=${authorDetails?.id})}">
                        <tr>
                            <th scope="col">Author name</th>
                            <td style="background-color: #D6EEEE;" th:text="${author.name}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Start year</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.activeYearsStartYear}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Birth date</th>
                            <td style="background-color: #D6EEEE;" th:text="${author.birthDate}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Death Date</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.deathDate}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Birth place</th>
                            <td style="background-color: #D6EEEE;" th:text="${author.birthPlace}"></td>

                        </tr>
                        <tr>
                            <th scope="col">Description</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.abstractDescription}"></td>
                        </tr>
                        <tr th:if="${author.thumbnail != ''}">
                            <th scope="col">Image</th>
                            <td><img th:src="@{${author.thumbnail}}"/></td>
                        </tr>
                        <tr>
                            <th scope="col">Nationality</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.nationality}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Occupation</th>
                            <td style="background-color: #D6EEEE;" th:text="${author.occupation}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Number of works</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.numberOfWorks}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Is author of</th>
                            <td style="background-color: #D6EEEE;">
                                <p th:each="isAuthorOf : ${author.isAuthorOf}" th:text="${isAuthorOf}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Genre</th>
                            <td style="background-color: #a5d6d6;" th:text="${author.genre}"></td>
                        </tr>
                        <tr>
                            <th scope="col">List of occupations</th>
                            <td style="background-color: #D6EEEE;">
                                <p th:each="occupation : ${author.occupationArray}" th:text="${occupation}"></p>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>