<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <form action="/register" class="form-signin mt-xl-5" method="post">
            <h2 class="form-signin-heading">Register</h2>
            <p>
                <label class="sr-only" for="username">Username</label>
                <input autofocus="" class="form-control" id="username" name="username" placeholder="Username" required=""
                       type="text">
            </p>
            <p>
                <label class="sr-only" for="password">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password" required=""
                       type="password">
            </p>
            <p>
                <label class="sr-only" for="repeatedPassword">Repeat Password</label>
                <input class="form-control" id="repeatedPassword" name="repeatedPassword" placeholder="Repeat Password"
                       required="" type="password">
            </p>
            <p>
                <label class="sr-only" for="name">Name</label>
                <input autofocus="" class="form-control" id="name" name="name" placeholder="Name" required=""
                       type="text">
            </p>
            <p>
                <label class="sr-only" for="surname">Surname</label>
                <input autofocus="" class="form-control" id="surname" name="surname" placeholder="Surname" required=""
                       type="text">
            </p>

            <p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="ROLE_ADMIN" name="role" type="radio" value="ROLE_ADMIN">
                <label class="form-check-label" for="ROLE_ADMIN">ROLE_ADMIN</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="ROLE_USER" name="role" type="radio" value="ROLE_USER">
                <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
            </div>
            </p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <a class="btn btn-block btn-light" href="/login">Already have an account? Login here!</a>
    </div>
</th:block>